html {
	overflow-y: scroll;
	overflow-x: hidden;
}
h1 {
	font-family: Times;
	color: #0e0f17;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 40px;
}

body {
	font-family: serif;
	font-size: 180%;
	margin: 30px auto;
	width: 84%;
	line-height: 1.2;
}
