html {
	overflow-y: scroll;
	overflow-x: hidden;
}
h1 {
	font-family: "Georgia", Times;
	color: #0e0f17;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 40px;
}

body {
	font-family: 'MyFont2', serif;
	font-size: 1.35em;
	margin: 30px auto;
	width: 84%;
	line-height: 1.2;
}

@font-face {
	font-family: "MyFont2";
	src: url("Myfont2-Regular.ttf");
}
